# Machine Learning and NLP libraries
datasets==2.18.0
transformers==4.39.3
sentencepiece==0.2.0
wandb==0.17.2

# Numerical and scientific libraries
numpy>=1.19.0
scipy==1.13.0

# Data visualization
matplotlib==3.8.4
seaborn>=0.11.0

# Graph libraries
networkx>=2.5

# Statistical modeling
statsmodels>=0.12.0
pmdarima>=1.8.0